#productDialog {
  outline: none;
  border: none;
  border-radius: 8px;
  width: 80%;
  height: 70%;
}

#descriptionIcon::before {
  content: "\e873";
  font-family: var(--material-icons);
  font-size: 20px;
  color: var(--gray);
}

#categoryIcon::before {
  content: "\e574";
  font-family: var(--material-icons);
  font-size: 20px;
  color: var(--gray);
}

#priceIcon::before {
  content: "\ef63";
  font-family: var(--material-icons);
  font-size: 20px;
  color: var(--gray);
}

#stockIcon::before {
  content: "\e1a1";
  font-family: var(--material-icons);
  font-size: 20px;
  color: var(--gray);
}

#pictureIcon::before {
  content: "\e410";
  font-family: var(--material-icons);
  font-size: 20px;
  color: var(--gray);
}

