.overview-content {
  display: flex;
  justify-content: space-between;
  font-family: var(--default-font);
}

.user-info {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  align-items: center;
}
#userProfilePic {
  width: 72px;
  height: 72px;
}

.user-info > p {
  margin: 0px 0px 0px 16px;
  text-align: left;
}
#userName {
  font-size: 20px;
  font-weight: bold;
  margin: 0px 0px 8px 0px;
  font-family: var(--default-font);
  color: var(--black);
}
#userEmail {
  display: block;
  font-size: 16px;
  margin: 0px;
  font-family: var(--secondary-font);
  color: var(--dark-gray);
}
#userEmail > i::before {
  content: "\e158";
  font-family: var(--material-icons);
  color: var(--primary-color);
  position: relative;
  top: 4px;
  margin-right: 8px;
  font-size: 20px;
}

#editProfileBtn {
  width: 150px;
  vertical-align: middle;
  align-items: center;
  height: 32px;
  display: flex;
}

#editProfileBtn > span::before {
  content: "\e3c9";
  font-family: var(--material-icons);
  color: var(--white);
  margin: 6px 4px 0px 0px;
  position: relative;
  top: 2px;
}

#widgetsSection {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 24px;
}

#widgetsSection > h2 {
  font-size: 24px;
  font-weight: bold;
  margin: 0px 0px 16px 0px;
  font-family: var(--default-font);
  color: var(--black);
}

#widgetsSection > h2 > i::before {
  content: "\e1bd";
  font-family: var(--material-icons);
  color: var(--primary-color);
  margin-right: 8px;
  font-size: 24px;
  position: relative;
  top: 4px;
}

.page-widgets {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  align-items: stretch;
}

.page-widgets a {
  flex: 1 1 calc(33.333% - 32px); /* 3 itens por linha */
  box-sizing: border-box;
  min-width: 250px;
  height: 100%;
}

.page-widgets custom-card {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.page-widgets i {
  font-family: var(--material-icons);
  font-size: 56px;
  color: var(--primary-color);
  margin: 0px 0px 0px 0px;
  display: block;
  text-align: center;
  flex-direction: column;
}

#userEditCard i::before {
  content: "\e3c9";
}

#walletCard i::before {
  content: "\f8ff";
}

#ordersCard i::before {
  content: "\e558";
}

#storageCard i::before {
  content: "\ebb8";
}

#dataCard i::before {
  content: "\e26b";
}

.card-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.card-title {
  font-size: 24px;
  font-weight: bold;
  margin: 0px 0px 8px 0px;
  font-family: var(--default-font);
  color: var(--black);
}
.card-description {
  font-size: 16px;
  margin: 0px;
  font-family: var(--secondary-font);
  color: var(--dark-gray);
}

@media screen and (max-width: 768px) {
  #editProfileBtn {
    display: none;
  }

  .page-widgets a {
    flex: 1 1 calc(50% - 32px);
  }

  #storageCardContent {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}

@media (max-width: 480px) {
  .page-widgets a {
    flex: 1 1 100%;
  }
}
