<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="step-2-content" th:fragment="content">
      <h2 id="step-address-title" class="step-title">Adicionar endereço</h2>

      <form action="@{/new-user-card}" method="post" id="userAddressForm">
        <div class="cep-container">
          <div class="input-label">
            <i id="personIcon"></i>
            <input type="text" id="CEPInput" placeholder="CEP" required />
          </div>
          <p id="CEPInputErrorMessage" class="error-message"></p>
        </div>

        <div class="identifier-container">
          <div class="input-label">
            <i id="personIcon"></i>
            <input
              type="text"
              id="addressIdentifierInput"
              placeholder="Identificação"
              required
            />
          </div>
        </div>

        <div class="address-input-container">
          <div class="input-label">
            <i id="personIcon"></i>
            <input
              type="text"
              id="addressInput"
              placeholder="Endereço"
              required
              readonly
            />
          </div>
        </div>

        <div class="number-container">
          <div class="input-label">
            <i id="personIcon"></i>
            <input type="text" id="numberInput" placeholder="Número" required />
          </div>
        </div>
        <div class="neighborhood-container">
          <div class="input-label">
            <i id="personIcon"></i>
            <input
              type="text"
              id="neighborhoodInput"
              placeholder="Bairro"
              required
              readonly
            />
          </div>
        </div>

        <div class="city-container">
          <div class="input-label">
            <i id="personIcon"></i>
            <input
              type="text"
              id="cityInput"
              placeholder="Cidade"
              required
              readonly
            />
          </div>
        </div>

        <div class="state-container">
          <div class="input-label">
            <i id="personIcon"></i>
            <input
              type="text"
              id="stateInput"
              placeholder="Estado"
              required
              readonly
            />
          </div>
        </div>

        <div class="complement-container">
          <div class="input-label">
            <i id="personIcon"></i>
            <input type="text" id="complementInput" placeholder="Complemento" />
          </div>
        </div>

        <div class="reference-container">
          <div class="input-label">
            <i id="personIcon"></i>
            <input type="text" id="referenceInput" placeholder="Referência" />
          </div>
        </div>
      </form>

      <button
        type="submit"
        class="continue-btn"
        id="addressContinueBtn"
        disabled
      >
        <p>Continuar</p>
        <i></i>
      </button>
    </div>
  </body>
</html>
