<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="step-2-content" th:fragment="content">
      <h2 id="step-address-title" class="step-title">Adicionar endereço</h2>
      <div class="floating-label">
        <input type="text" id="input1" placeholder=" " required />
        <label for="input1">CEP</label>
      </div>

      <div class="floating-label">
        <input type="text" id="input1" placeholder=" " required />
        <label for="input1">Rua</label>
      </div>

      <div class="floating-label">
        <input type="text" id="input1" placeholder=" " required />
        <label for="input1">Bairro</label>
      </div>

      <div class="floating-label">
        <input type="text" id="input1" placeholder=" " required />
        <label for="input1">Cidade</label>
      </div>

      <div class="floating-label">
        <input type="text" id="input1" placeholder=" " required />
        <label for="input1">Estado</label>
      </div>

      <div class="floating-label">
        <input type="text" id="input1" placeholder=" " required />
        <label for="input1">Numero</label>
      </div>

      <div class="floating-label">
        <input type="text" id="input1" placeholder=" " required />
        <label for="input1">Complemento</label>
      </div>

      <div class="floating-label">
        <input type="text" id="input1" placeholder=" " required />
        <label for="input1">Ponto de referencia</label>
      </div>
    </div>
  </body>
</html>
