#user-details-edit-container {
  padding: 16px;
  background-color: var(--white);
  height: 100%;
  border-radius: 8px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
  margin: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#userDetailsEditTitle {
  font-family: var(--default-font);
  font-size: 24px;
  font-weight: 500;
  color: var(--black);
}

#userDetailsEditTitle > i::before {
  content: "\ea67";
  font-family: var(--material-icons);
  position: relative;
  top: 4px;
  color: var(--primary-color);
  margin-right: 8px;
}
.content-container{
    display: flex;
    flex-direction: column;
}

.edit-field-container{
    margin: 4px 0;
}

.details-action-buttons {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

#deleteUserAccount {
  background-color: transparent;
  color: var(--primary-color);
  border: none;
  cursor: pointer;
  font-family: var(--default-font);
  font-size: 20px;
  font-weight: bold;
}

#deleteUserAccount:hover {
  color: var(--primary-color-hover);
  text-decoration: underline;
}

#saveUserDetails {
  background-color: var(--primary-color);
  color: var(--white);
  border: none;
  cursor: pointer;
  font-family: var(--default-font);
  font-size: 20px;
  padding: 8px;
  font-weight: 500;
  border-radius: 4px;
}

#saveUserDetails:hover {
  background-color: var(--primary-color-hover);
}
