.product-content {
  height: 100%;
}
#storageProductHeader > i::before {
  content: "\e1a1";
  font-family: var(--material-icons);
  color: var(--primary-color);
}

#newProductBtn {
  outline: none;
}

#newProductBtn > i::before {
  content: "\e145";
  font-size: 16px;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 16px; /* Espaçamento entre os itens */
  padding: 0px 32px;
}

.product-list > div {
  min-width: 320px;
  max-width: 100%;
}
