<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      th:href="@{/styles/fragment_styles/header_styles/header.css}"
    />
  </head>

  <body>
    <div class="header" th:fragment="header">
      <div class="main-header">
        <div class="logo-container">
          <i id="menuToggle" class="menu-toggle"></i>

          <a href="/" class="logo-link">
            <img th:src="@{/images/logo.png}" alt="" class="logo" />
          </a>

          <div
            id="logoCart"
            th:insert="~{fragments/header_fragments/shopping-cart::shoppingCart}"
           
          ></div>
        </div>

        <div
          class="search-bar"
          th:insert="~{fragments/header_fragments/search-bar::searchBar}"
        ></div>

        <div class="action-pages">
          <div
            th:insert="~{fragments/header_fragments/user-avatar::userAvatar}"
          ></div>

          <a href="#" class="favorite-icon"></a>

          <div
            id="normalCart"
            th:insert="~{fragments/header_fragments/shopping-cart::shoppingCart}"
          ></div>
        </div>
      </div>

      <div
        class="departaments"
        th:insert="~{fragments/header_fragments/departament::departaments}"
      ></div>

      <div th:insert="~{fragments/header_fragments/side-menu::sideMenu}"></div>
    </div>

    <div class="header-script" th:fragment="headerScript">
      <script th:src="@{/js/fragments_scripts/header.js}"></script>
      <div
        th:insert="~{/fragments/header_fragments/side-menu::sideMenuScript}"
      ></div>
    </div>
  </body>
</html>
