<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <div class="user-avatar" th:fragment="userAvatar">
      <a href="#"
        ><img th:src="@{/images/robo-avatar.png}" id="userAvatar"
      /></a>
      <p>
        <span class="emphasis-text"><a href="/login" id="login">Entre</a></span>
        ou<br />
        <span class="emphasis-text"
          ><a href="/novo-usuario" id="signUp">Cadastre-se</a></span
        >
      </p>
    </div>
  </body>
</html>
