@import url("../fragment_styles/new_user_styles/new-user-details.css");
@import url("../fragment_styles/new_user_styles/new-user-address.css");
@import url("../fragment_styles/new_user_styles/new-user-card.css");

.step-title {
  font-family: var(--default-font);
  font-size: 24px;
  font-weight: bold;
  color: var(--secondary-color);
  text-align: center;
  margin: 0px 0px 48px 0px;
}

.input-label {
  position: relative;
  margin: 0px 0;
  font-family: Arial, sans-serif;
  display: grid;
  grid-template-columns: 32px 1fr 48px;
  align-content: center;
  background-color: var(--white);
  border: 1px solid var(--gray);
  border-radius: 4px;
  outline: none;
  box-sizing: border-box;
  height: 56px;
}

.input-label > i {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Estiliza o campo de entrada */
.input-label input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: none;
  outline: none;
}

.error-message {
  color: red;
  margin: 4px 8px;
  font-size: 14px;
  font-family: var(--secondary-font);
}

.error-message.hidden i::before {
  content: none;
}

.error-message i::before {
  margin-right: 8px;
  vertical-align: middle;
  content: "\e002";
  font-family: var(--material-icons);
  font-size: 14px;
}

.continue-btn {
  background-color: var(--primary-color);
  color: var(--white);
  font-family: var(--default-font);
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  padding: 12px 24px;
  cursor: pointer;
  margin: 24px 0px 0px 0px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-content: center;
  vertical-align: middle;
}

.continue-btn i::before {
  content: "\e5c8";
  font-family: var(--material-icons);
  margin-right: 8px;
  margin-left: 8px;
  margin-top: 8px;
  font-size: 16px;
}

.continue-btn:disabled {
  background-color: var(--gray);
  color: var(--dark-gray);
}

.continue-btn:hover {
  background-color: var(--primary-color-hover);
  transition: all 0.6s;
}
