@import url("../fragment_styles/user_styles/new_user_styles/new-user-details.css");
@import url("../fragment_styles/user_styles/new_user_styles/new-user-address.css");
@import url("../fragment_styles/user_styles/new_user_styles/new-user-card.css");

.cadastro-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

#formCadastro {
  margin: 15%;
}

.form-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}

.cadastro-title {
  text-align: center;
  font-family: var(--default-font);
  color: var(--primary-color);
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 16px;
}

.cadastro-title > i::before {
  content: "\e5e0";
  font-family: var(--material-icons);
  font-size: 16px;
  position: relative;
  top: 2px;
}

.custom-select {
  width: 100%;
  height: 100%;
  padding: 10px 15px;
  font-size: 14px;
  border-radius: 5px;
  border: none;
  background-color: #fff;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  position: relative;
}

.custom-select:focus {
  outline: none;
  border-color: #666;
}

.custom-select-wrapper {
  position: relative;
}

.custom-select-wrapper::after {
  content: "▼";
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  font-size: 12px;
  color: #777;
  pointer-events: none;
}

/* Declarações individuais para o conteúdo de cada ícone */

#personIcon::before,
#documentIcon::before,
#birthIcon::before,
#phoneIcon::before,
#emailIcon::before,
#genderIcon::before,
.visibility-control::before,
.password-icon::before,
#cepIcon::before,
#idIcon::before,
#streetIcon::before,
#numberIcon::before,
#neighborhoodIcon::before,
#cityIcon::before,
#stateIcon::before,
#complementIcon::before,
#referenceIcon::before {
  font-family: var(--material-icons);
  color: var(--gray);
  font-size: 24px;
}

#personIcon::before {
  content: "\e7fd";
}
#documentIcon::before {
  content: "\ea67";
}
#genderIcon::before {
  content: "\e58d";
}
#birthIcon::before {
  content: "\ebcc";
}
#phoneIcon::before {
  content: "\e0b0";
}
#emailIcon::before {
  content: "\e158";
}
.password-icon::before {
  content: "\e897";
}

.cadastro-btn {
  justify-self: center;
}

.endereco-header {
  cursor: pointer;
}
.endereco-header i::before {
  position: relative;
  top: 2px;
  right: 8px;
}

/* Estiliza o campo de entrada */

.error-message {
  color: red;
  margin: 4px 8px;
  font-size: 14px;
  font-family: var(--secondary-font);
}

.error-message.hidden i::before {
  content: none;
}

.error-message i::before {
  margin-right: 8px;
  vertical-align: middle;
  content: "\e002";
  font-family: var(--material-icons);
  font-size: 14px;
}

.visibility-control {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.visibility-control::before {
  content: "\e8f5";
}

#userAddressForm {
  display: grid;
  grid-template-areas:
    "cep identifier identifier "
    "street street number"
    "neighborhood city state "
    "complement complement complement "
    "reference reference reference";
  grid-gap: 10px;
  justify-content: center;
}

.cep-container {
  grid-area: cep;
}
.identifier-container {
  grid-area: identifier;
}
.address-input-container {
  grid-area: street;
}
.number-container {
  grid-area: number;
}
.complement-container {
  grid-area: complement;
}
.neighborhood-container {
  grid-area: neighborhood;
}
.city-container {
  grid-area: city;
}
.state-container {
  grid-area: state;
}
.reference-container {
  grid-area: reference;
}

#cepIcon::before {
  content: "\e55f";
}

#idIcon::before {
  content: "\e8d3";
}

#streetIcon::before {
  content: "\eb91";
}

#numberIcon::before {
  content: "\e9ef";
}

#neighborhoodIcon::before {
  content: "\e0c8";
}

#cityIcon::before {
  content: "\e7f1";
}

#stateIcon::before {
  content: "\e55f";
}

#complementIcon::before {
  content: "\ea40";
}

#referenceIcon::before {
  content: "\e55f";
}

.form-step {
  display: none;
}

.form-step.active {
  display: block;
}

@media (max-width: 768px) {
  .form-content {
    grid-template-columns: 1fr;
    gap: 8px;
  }

  #userAddressForm {
    display: flex;
    flex-direction: column;
  }
}
