@import url("../fragment_styles/new_user_styles/new-user-details.css");
@import url("../fragment_styles/new_user_styles/new-user-address.css");
@import url("../fragment_styles/new_user_styles/new-user-card.css");

.step-title {
  font-family: var(--default-font);
  font-size: 24px;
  font-weight: bold;
  color: var(--secondary-color);
  text-align: center;
  margin: 0px 0px 48px 0px;
}

.floating-label {
  position: relative;
  margin: 0px 0;
  font-family: Arial, sans-serif;
}
/* Estiliza o campo de entrada */
.floating-label input {
  width: 100%;
  padding: 10px;
  padding-top: 20px; /* Espaço extra para a label */
  font-size: 16px;
  border: 1px solid var(--gray);
  border-radius: 4px;
  outline: none;
  box-sizing: border-box;
}
/* Estiliza a label */
.floating-label label {
  position: absolute;
  top: 20px;
  left: 10px;
  font-size: 16px;
  color: var(--dark-gray);
  pointer-events: none; /* Desativa cliques na label */
  transition: all 0.2s ease;
}

.floating-label select {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;
  appearance: none;
}

/* Quando o campo está focado ou preenchido, a label "flutua" */
.floating-label input:focus + label,
.floating-label input:not(:placeholder-shown) + label {
  top: -10px;
  left: 8px;
  font-size: 12px;
  color: var(--primary-color);
  background: var(--white);
  padding: 0 4px;
}

.floating-label select:focus + label,
.floating-label select:not(:placeholder-shown) + label {
  top: -20px;
  left: 10px;
  font-size: 12px;
  color: #333;
}
