.login-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  overflow-y: auto;
}

#loginLogo {
  width: 72px;
  height: 80px;
}
.input-container h3 {
  text-align: left;
  font-family: var(--default-font);
  color: var(--dark-gray);
}

.email-container,
.password-container {
  display: grid;
  grid-template-columns: 32px 1fr 56px;
  margin: 16px 0px 24px 0px;
  width: 100%;
  border: 1px solid var(--dark-gray);
  border-radius: 8px;
  height: 40px;
  padding: 4px;
  align-items: center;
}

.text-input {
  width: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  color: var(--black);
  font-family: var(--secondary-font);
  height: 100%;
  text-align: center;
  caret-color: var(--primary-color);
}

#emailIcon::before {
  content: "\e7fd";
  font-family: var(--material-icons);
  color: var(--gray);
  font-size: 24px;
}

#passwordIcon::before {
  content: "\e897";
  font-family: var(--material-icons);
  color: var(--gray);
  font-size: 24px;
}

#togglePasswordBtn {
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;

  font-family: var(--material-icons);
  color: var(--gray);
  font-size: 24px;
}
#togglePasswordBtn::before {
  content: "\e8f4";
}
#togglePasswordBtn.visible::before {
  content: "\e8f5";
}

#loginBtn {
  justify-self: center;
}

#loginBtn i::before {
  content: "\ea77";
  font-family: var(--material-icons);
  font-size: 24px;
  position: relative;
  top: 6px;
  right: 8px;
}

#loginBtn p::before {
  content: "Entrar";
  font-family: var(--default-font);
  font-size: 16px;
  position: relative;
  top: 6px;
  right: 8px;
}

#forgotMyPassword {
  font-size: 14px;
  margin: 16px 0px;
}

#forgotMyPassword a {
  color: var(--gray);
  font-family: var(--secondary-font);
}

#forgotMyPassword a:hover {
  text-decoration: underline;
}

#signUp {
  font-family: var(--secondary-font);
  font-size: 14px;
  text-wrap: nowrap;
}

#signUp a {
  color: var(--primary-color);

  text-decoration: none;
  margin: 0px 0px 0px 4px;
}

#signUp a:hover {
  text-decoration: underline;
}
