.normal-user-content {
  margin: 64px 5%;
}
.normal-user-content a {
  text-decoration: none;
}

.user-card {
  display: flex;
  background-color: var(--white);
}

#userOverviewCard {
  width: 100%;
}
.user-details {
  display: flex;
  justify-content: space-between;
}

#editProfileButton {
  background-color: var(--primary-color);
}

#editProfileButton:hover {
  background-color: var(--primary-color-hover);
  transition: all 0.6s;
}

.widgets-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}
