.normal-user-content {
  margin: 64px 3% 64px 3%;
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.normal-user-content a {
  text-decoration: none;
}

.user-card {
  display: flex;
  background-color: var(--white);
  border-radius: 8px;
  padding: 8px 24px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.user-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.user-info {
  margin: 0 16px;
  display: flex;
  flex-direction: column;
}

.user-info h3 {
  font-size: 20px;
  font-weight: bold;
  margin: 0px 0px 8px 0px;
}

.user-info p {
  font-size: 16px;
  margin: 0px;
}

.user-info p > span::before {
  content: "\e158";
  font-family: var(--material-icons);
  color: var(--primary-color);
  position: relative;
  top: 2px;
  margin-right: 8px;
}

#editProfileBtn {
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
  padding: 8px;
  border-radius: 8px;
  color: var(--white);
  font-weight: bold;
  cursor: pointer;
  font-family: var(--default-font);
  text-align: center;
  text-decoration: none;
  align-content: center;
  height: 32px;
  align-self: center;
  display: flex;
  align-items: center;
}

#editProfileBtn span::before {
  content: "\e3c9";
  font-family: var(--material-icons);
  color: var(--white);
  margin: 6px 4px 0px 0px;
  position: relative;
  top: 2px;
}

.widgets-container {
  width: 100%;
  margin: 32px 0;
}

#pageWidgetTitle {
  font-size: 20px;
  font-weight: bold;
  font-family: var(--default-font);
  color: var(--black);
}

#pageWidgetTitle > i::before {
  content: "\e1bd";
  font-family: var(--material-icons);
  color: var(--primary-color);
  margin-right: 8px;
  position: relative;
  top: 4px;
}

.widget-cards-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  width: 100%;
  margin: 16px 0px;
}

.widget-card {
  display: flex;
  background-color: var(--white);
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  justify-content: space-evenly;
  align-items: center;
  height: 64px;
}

.widget-card i {
  font-family: var(--material-icons);
  font-size: 48px;
  color: var(--primary-color);
}

#editProfileCard i::before {
  content: "\e7fd";
}

#ordersCard i::before {
  content: "\e558";
}

#walletCard i::before {
  content: "\f8ff";
}

#wishListCard i::before {
  content: "\e87d";
}

.widget-card-content {
  margin: 0px 0px 0px 8px;
}
.card-title {
  font-size: 20px;
  font-weight: bold;
  margin: 0px 0px 8px 0px;
  font-family: var(--default-font);
  color: var(--black);
}

.card-description {
  font-size: 14px;
  margin: 0px;
  font-family: var(--secondary-font);
  color: var(--dark-gray);
}

@media (max-width: 768px) {
  .normal-user-content {
    margin: 0px;
  }

  #editProfileBtn {
    background-color: transparent;
    border: none;
    justify-self: end;
  }
  #editProfileBtn p {
    display: none;
  }

  #editProfileBtn span::before {
    color: var(--primary-color);
    font-size: 24px;
  }
  .widget-cards-container {
    display: flex;
    flex-direction: column;
    margin: 16px 0px;
  }
}
@media (min-width: 769px) {
  #editProfileBtn:hover {
    background-color: var(--primary-color-hover);
    transition: all 0.6s;
  }
}
