<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div id="departamentsList" th:fragment="departaments">
        <div class="departament-list"></div>

        <div id="menuList">

        </div>


        <script>
            document.addEventListener('DOMContentLoaded', function () {
                fetch('/header/departaments', {
                    method: 'GET'
                })
                    .then(response => response.json())
                    .then(responseDepartament => {
                        const menuList = document.getElementById('menuList');
                        const departaments = {};

                        // Verifique se responseDepartament é um objeto
                        if (typeof responseDepartament === 'object' && responseDepartament !== null) {
                            Object.keys(responseDepartament).forEach(key => {
                                departaments[key] = Array.from(responseDepartament[key]);
                            });
                        } else {
                            console.error('Response is not an object:', responseDepartament);
                            return;
                        }

                        // Criar menu
                        Object.keys(departaments).forEach(departament => {
                            const departamentItem = document.createElement('li');

                            // Criar link do departamento
                            const departamentLink = document.createElement('a');
                            departamentLink.href = '#';
                            departamentLink.textContent = capitalizeWords(departament);
                            departamentLink.classList.add('drop-btn');
                            departamentItem.appendChild(departamentLink);

                            // Criar submenu
                            const submenu = document.createElement('ul');
                            submenu.className = 'submenu';


                            departaments[departament].forEach(subdepartament => {
                                const subdepartamentItem = document.createElement('li');
                                const subdepartamentLink = document.createElement('a');
                                subdepartamentLink.href = '#';
                                subdepartamentLink.textContent = capitalizeWords(subdepartament);
                                subdepartamentItem.appendChild(subdepartamentLink);

                                submenu.appendChild(subdepartamentItem);
                            });
                            departamentItem.appendChild(submenu);

                            departamentItem.addEventListener('click', function () {
                                submenu.classList.toggle('show');
                            });

                            menuList.appendChild(departamentItem);
                        });
                    })
                    .catch(error => {
                        console.error('Error:', error);
                    });

                // Função para capitalizar palavras (se você ainda não tiver definido)
                function capitalizeWords(str) {
                    return str.split(' ').map(word =>
                        word.charAt(0).toUpperCase() + word.slice(1).toLowerCase()
                    ).join(' ');
                }
            });
        </script>
    </div>
</body>

</html>