<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div th:fragment="departaments">
        <nav class="nav-menu">
            <ul class="menu-list" id="menuList">
                <!-- O menu será preenchido via JavaScript -->
            </ul>
        </nav>

        <script th:src="@{/js/fragments_scripts/departaments.js}">

        </script>
    </div>
</body>

</html>