<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">


<body>
  <div class="header" th:fragment="header">
    <script th:src="@{/js/components/menu-toggle.js}" defer></script>
    <div class="main-header">
      <div class="logo-container">
        <menu-toggle id="menuToggle"></menu-toggle>

        <a href="/" class="logo-link">
          <img th:src="@{/images/logo.png}" alt="" id="logo" />
        </a>

        <div id="logoCart" th:insert="~{fragments/shopping-cart::shoppingCart}"></div>
      </div>

      <div th:insert="~{fragments/search-bar::searchBar}"></div>

      <div class="action-pages">
        <div th:insert="~{fragments/user-avatar::userAvatar}"></div>

        <div id="normalCart" th:insert="~{fragments/shopping-cart::shoppingCart}"></div>
      </div>
    </div>

    <div class="menu-container">

      <div id="departamentList" th:insert="~{fragments/departaments::departaments}"></div>

      <div class="user-auth-actions">
        
      </div>
    </div>

  </div>



  <div class="header-script" th:fragment="headerScript">
    <script th:src="@{/js/fragments_scripts/header.js}"></script>
    <script th:src="@{/js/fragments_scripts/side-menu.js}"></script>
  </div>
</body>

</html>