<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" th:href="@{/styles/fragment_styles/header.css}" />
  </head>

  <body>
    <div class="header" th:fragment="header">
      <div class="main-header">
        <div class="logo-container">
          <a href="/" class="logo-link">
            <img th:src="@{/images/logo.png}" alt="" class="logo" />
          </a>
        </div>
        <div class="search-container">
          <input
            id="searchBar"
            type="text"
            class="search-input"
            placeholder="Pesquisar..."
          />
          <button id="searchButton">
            <span class="material-symbols-outlined search-button-icon">
              search
            </span>
          </button>
        </div>
        <div class="user-container">
          <a><img th:src="@{/images/robo-avatar.png}" id="userAvatar"/></a>
        </div>
        <div class="action-pages">
          <div class="wish-list">☰</div>
          <div class="cart">☰</div>
        </div>
        <button id="menuToggle" class="menu-toggle">☰</button>
      </div>

      <div
        class="departaments"
        th:insert="~{fragments/departament::departaments}"
      ></div>

      <div th:insert="~{fragments/side-menu::sideMenu}"></div>
    </div>

    <div class="header-script" th:fragment="headerScript">
      <script th:src="@{/js/fragments_scripts/header.js}"></script>
      <div th:insert="~{/fragments/side-menu::sideMenuScript}"></div>
    </div>
  </body>
</html>
