<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="/search" method="get" th:fragment="searchBar">
        <div class="search-container">
            <input id="searchBar" name="searched" type="text" class="search-input" placeholder="Pesquisar..." required/>
            <button id="searchButton" type="submit"></button>
        </div>
    </form>
</body>

</html>