<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="cart-container" th:fragment="shoppingCart" sec:authorize="!isAuthenticated()">
        <div class="item-count">
            <p class="count"></p>
        </div>
        <a href="/carrinho" class="cart-icon"></a>
    </div>

    <div class="cart-container" th:fragment="shoppingCart" sec:authorize="isAuthenticated()">
        <div class="item-count">
            <p class="count"></p>
        </div>
        <a href="/carrinho-auth" class="cart-icon"></a>
    </div>
</body>

</html>