<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criar Conta</title>

    <link th:href="@{/styles/reset.css}" rel="stylesheet" />
    <link th:href="@{/styles/style.css}" rel="stylesheet" />

    <script th:src="@{/js/components/card.js}" defer></script>
</head>

<body>
    <header th:replace="~{fragments/header :: header}"></header>

    <main>
        <div class="cadastro-container">
            <custom-card id="formCard">
                <form id="formCadastro" th:action="@{/user/registration}" th:object="${newUserDto}" method="post">
                    <!-- Etapa 1: Criar Conta -->
                    <div class="form-step active" id="step1">
                        <h1 class="cadastro-title">Criar Conta</h1>
                        <div class="user-details-form">


                            <div id="usernameContainer">
                                <div class="input-label">
                                    <i id="personIcon"></i>
                                    <input type="text" id="nameInput" name="nomeCompleto" placeholder="Nome Completo"
                                        th:field="*{username}" required>
                                    <label for="nomeCompleto"></label>
                                </div>
                                <p id="personNameErrorMessage" class="error-message"></p>
                            </div>

                            <div class="document-container">
                                <div class="input-label">
                                    <i id="documentIcon"></i>
                                    <input id="cpfInput" type="tel" name="cpf" placeholder="CPF" th:field="*{document}"
                                        maxlength="14" required>
                                    <label for="cpf"></label>
                                </div>
                                <p id="documentErrorMessage" class="error-message"></p>
                            </div>

                            <div class="gender-container">
                                <div class="input-label">
                                    <i id="genderIcon"></i>
                                    <select id="genderSelect" class="custom-select" th:field="*{gender}">
                                        <option value="Male">Masculino</option>
                                        <option value="Female">Feminino</option>
                                        <option value="Other">Outro</option>
                                    </select>
                                </div>
                                <p id="genderErrorMessage" class="error-message"></p>
                            </div>

                            <div class="phone-container">
                                <div class="input-label">
                                    <i id="phoneIcon"></i>
                                    <input type="tel" id="phoneInput" name="telefone" placeholder="Telefone"
                                        th:field="*{phone}" required>
                                    <label for="telefone"></label>
                                </div>
                                <p id="phoneErrorMessage" class="error-message"></p>
                            </div>

                            <div class="birthdate-container">
                                <div class="input-label">
                                    <i id="birthIcon"></i>
                                    <input type="text" id="birthdateInput" name="dataNascimento"
                                        placeholder="Data de nascimento" th:field="*{birthdate}" required>
                                    <label for="dataNascimento"></label>
                                </div>
                                <p id="birthdateErrorMessage" class="error-message"></p>
                            </div>

                            <div class="details-email-container">
                                <div class="input-label">
                                    <i id="emailIcon"></i>
                                    <input type="email" id="emailInput" placeholder="Email" th:field="*{email}"
                                        required />
                                </div>
                                <p id="emailErrorMessage" class="error-message"></p>
                            </div>

                            <div class="details-password-container">
                                <div class="input-label">
                                    <i class="password-icon"></i>
                                    <input type="password" id="passwordInput" placeholder="Senha" required />
                                    <button type="button" class="visibility-control" id="passwordBtn"></button>
                                </div>
                                <p id="passwordErrorMessage" class="error-message"></p>
                            </div>

                            <div class="details-confirm-password-container">
                                <div class="input-label">
                                    <i class="password-icon"></i>
                                    <input type="password" id="confirmPasswordInput" placeholder="Confirmar Senha"
                                        th:field="*{password}" required />

                                    <button type="button" class="visibility-control" id="confirmPasswordBtn"></button>
                                </div>
                                <p id="confirmPasswordErrorMessage" class="error-message"></p>
                            </div>

                        </div>

                        <button type="button" class="confirm-button cadastro-btn" id="nextStepBtn">
                            <p>Continuar<i></i></p>
                        </button>
                    </div>

                    <!-- Etapa 2: Adicionar endereço -->
                    <div class="form-step" id="step2">
                        <p class="endereco-header cadastro-title" id="previousStepBtn"> <i></i>Adicionar endereço
                        </p>

                        <div th:replace="~{fragments/user-address-form :: addressForm}"></div>

                        <button type="submit" id="saveNewUserBtn" class="confirm-button cadastro-btn">Criar
                            conta</button>
                    </div>
                </form>

                <p id="redirectToLogin">Lembrou que aquela conta já existe? <a href="/login">Entre agora</a></p>

            </custom-card>
        </div>

    </main>

    <script type="module" th:src="@{/js/page_scripts/cadastro.js}"></script>
</body>

</html>