<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criar Conta</title>

    <link th:href="@{/styles/reset.css}" rel="stylesheet" />
    <link th:href="@{/styles/style.css}" rel="stylesheet" />

</head>

<body>
    <div class="container">
        <form id="formCadastro" th:action="@{/user/registration}" th:object="${registrationDto}" method="post">
            <!-- Etapa 1: Criar Conta -->
            <div class="form-step active" id="step1">
                <h1>Criar Conta</h1>
                <div class="input-group">
                    <input type="text" name="nomeCompleto" placeholder="Nome Completo" th:field="*{username}" required>
                </div>

                <!-- <div class="input-group">
                    <select name="genero" th:field="*{gender}" required>
                        <option value="">Masculino</option>
                        <option value="F">Feminino</option>
                        <option value="O">Outro</option>
                    </select>
                </div> -->

                <div class="input-group">
                    <input type="tel" name="telefone" placeholder="Telefone" th:field="*{phone}" required>
                </div>

                <div class="input-group">
                    <input type="text" name="cpf" placeholder="CPF" th:field="*{document}" required>
                </div>

                <div class="input-group">
                    <input type="date" name="dataNascimento" placeholder="Data de nascimento" th:field="*{birthdate}"
                        required>
                </div>

                <div class="input-group">
                    <input type="email" name="email" placeholder="Email" th:field="*{email}" required>
                </div>

                <div class="input-group">
                    <div class="password-input">
                        <input type="password" name="senha" placeholder="Senha" required>
                        <span class="toggle-password">👁️</span>
                    </div>
                </div>

                <div class="input-group">
                    <div class="password-input">
                        <input type="password" name="confirmarSenha" placeholder="Confirmar Senha"
                            th:field="*{password}" required>
                        <span class="toggle-password">👁️</span>
                    </div>
                </div>

                <button type="button" class="btn-continuar" onclick="nextStep()">Continuar →</button>
            </div>

            <!-- Etapa 2: Adicionar endereço -->
            <div class="form-step" id="step2">
                <div class="endereco-header" onclick="prevStep()">
                    ← Adicionar endereço
                </div>

                <div class="endereco-grid">
                    <div class="input-group">
                        <input type="text" name="cep" placeholder="CEP" th:field="*{cep}" required>
                    </div>
                    <div class="input-group">
                        <input type="text" name="identificacao" placeholder="Identificação"
                            th:field="*{addressIdentification}" required>
                    </div>
                </div>

                <div class="endereco-grid">
                    <div class="input-group">
                        <input type="text" name="endereco" placeholder="Endereço" th:field="*{street}" required>
                    </div>
                    <div class="input-group">
                        <input type="text" name="numero" placeholder="Número" th:field="*{number}" required>
                    </div>
                </div>

                <div class="endereco-grid-3">
                    <div class="input-group">
                        <input type="text" name="bairro" placeholder="Bairro" th:field="*{neighborhood}" required>
                    </div>
                    <div class="input-group">
                        <input type="text" name="cidade" placeholder="Cidade" th:field="*{city}" required>
                    </div>
                    <div class="input-group">
                        <input type="text" name="estado" placeholder="Estado" th:field="*{state}" required>
                    </div>
                </div>

                <div class="input-group">
                    <input type="text" name="complemento" placeholder="Complemento" th:field="*{complement}">
                </div>

                <div class="input-group">
                    <input type="text" name="referencia" placeholder="Referência" th:field="*{reference}">
                </div>

                <button type="submit" class="btn-salvar">Salvar</button>
            </div>
        </form>
    </div>

    <script th:src="@{/js/page_scripts/cadastro.js}"></script>
</body>

</html>