<!DOCTYPE html>
<html xmls:th="https://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <div class="login-content" th:fragment="content">
      <div class="login-card">
        <img th:src="@{/images/logo-black.png}" id="loginLogo" alt="" />

        <div class="input-container">
          <h3 class="input-title"><label for="emailInput">Email:</label></h3>
          <div class="email-container">
            <i class="input-icon" id="emailIcon"> </i>
            <div class="input-text">
              <input type="text" name="" id="emailInput" class="text-input" />
            </div>
          </div>
        </div>
        <div class="input-container">
          <h3 class="input-title"><label for="passwordInput">Senha:</label></h3>

          <div class="password-container">
            <i class="input-icon" id="passwordIcon"></i>
            <div class="input-text">
              <input
                type="password"
                name=""
                id="passwordInput"
                class="text-input"
              />
            </div>
            <button type="button" id="visibilityBtn"></button>
          </div>
        </div>
      </div>
    </div>
    <div class="content-script" th:fragment="contentScript">
      <script th:src="@{/js/page_scripts/login.js}"></script>
    </div>
  </body>
</html>
