<!DOCTYPE html>
<html xmls:th="https://www.thymeleaf.org" xmlns:th="http://www.w3.org/1999/xhtml"
  xmlns:xmls="http://www.w3.org/1999/xhtml">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link th:href="@{/styles/reset.css}" rel="stylesheet" />
  <link th:href="@{/styles/style.css}" rel="stylesheet" />

  <script type="module" th:src="@{/js/components/card.js}" defer></script>
</head>

<body>
  <header th:replace="~{fragments/header :: header}"></header>

  <div class="login-content">
    <custom-card>
      <form th:action="@{/login}" method="post">
        <img th:src="@{/images/logo-black.png}" id="loginLogo" alt="" />

        <p th:if="${param.error != null}" class="error-message">Email ou senha inválidos</p>

        <div class="input-container">
          <h3 class="input-title"><label for="emailInput">Email:</label></h3>
          <div class="email-container">
            <i class="input-icon" id="emailIcon"> </i>
            <div class="input-text">
              <input type="text" name="username" id="emailInput" class="text-input" />
            </div>
          </div>
        </div>
        <div class="input-container">
          <h3 class="input-title"><label for="passwordInput">Senha:</label></h3>

          <div class="password-container">
            <i class="input-icon" id="passwordIcon"></i>
            <div class="input-text">
              <input type="password" name="password" id="passwordInput" class="text-input" />
            </div>
            <button type="button" id="togglePasswordBtn"></button>
          </div>
        </div>

        <button type="submit" id="loginBtn" class="confirm-button">
          <i></i>
          <p></p>
        </button>
        <p id="forgotMyPassword"><a href="#">Esqueci minha senha</a></p>
        <p id="signUp">
          É novo por aqui?<a id="signUpLink" href="/cadastro">Crie sua conta</a>
        </p>
      </form>
    </custom-card>
  </div>

  <script th:src="@{/js/page_scripts/login.js}"></script>
</body>

</html>