<!DOCTYPE html>
<html xmls:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="product-card" th:fragment="productCard(product)">

        <div class="product-card-image">
            <img id="productCardImage" th:src="${product.image}" alt="Preview">
        </div>
        <div class="product-card-content">
            <div class="tooltip-container">
                <h2 id="productTitlte" class="product-name" th:text="${product.description}">Product Name</h2>
                <div class="tooltip" id="productTitleTooltip" th:text="${product.description}"></div>
            </div>
            <div class="product-card-price" id="productPrice" th:text="${product.price}"></div>
            <div class="product-card-installment" id="productInstallment">ou 10x de R$0,00 sem juros
            </div>
            <button class="confirm-button" th:attr="data-product=${product}">Comprar</button>
        </div>
    </div>
</body>

</html>