.step-2-content {
  margin: 5% 10%;
  justify-content: center;
}

#userAddressForm {
  display: grid;
  grid-template-areas:
    "cep identifier identifier "
    "street street number"
    "neighborhood city state "
    "complement complement complement "
    "reference reference reference";
  grid-gap: 10px;
  justify-content: center;
}

.step-header {
  display: flex;
  justify-content: center;
  align-content: center;
  width: auto;
}

.step-header button {
  margin: 0px 32px 0px 0px;
  height: 10px;
  width: 10px;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.step-header button::before {
  content: "\e2ea";
  font-family: var(--material-icons);
  color: var(--secondary-color);
  font-size: 24px;
}

.cep-container {
  grid-area: cep;
}
.identifier-container {
  grid-area: identifier;
}
.address-input-container {
  grid-area: street;
}
.number-container {
  grid-area: number;
}
.complement-container {
  grid-area: complement;
}
.neighborhood-container {
  grid-area: neighborhood;
}
.city-container {
  grid-area: city;
}
.state-container {
  grid-area: state;
}
.reference-container {
  grid-area: reference;
}

#addressContinueBtn {
  max-width: 200px;
  justify-self: center;
}

@media (max-width: 768px) {
  #userAddressForm {
    display: flex;
    flex-direction: column;
    grid-gap: 10px;
    justify-content: center;
  }
  #addressContinueBtn {
    width: 100%;
  }
}
