.step-1-content {
  margin: 5% 10%;
}

#userDetailsForm {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

#detailsContinueBtn {
  justify-self: center;
}

.error-message {
  color: red;
  margin: 4px 8px;
  font-size: 12px;
}

@media (max-width: 768px) {
  #userDetailsForm {
    grid-template-columns: 1fr;
  }
}
