<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="../static/styles/reset.css" />
    <link rel="stylesheet" href="../static/styles/style.css" />

    <title>Aquela Loja</title>
  </head>
  <body>
    <header th:insert="~{widgets/header :: header}"></header>

    <main>

      <!-- <h1>Welcome to Aquela Loja</h1>
      <p>
        Here you will find the best products for your home. We have a wide
        variety of products for you to choose from.
      </p> -->
    </main>

    <footer th:insert="~{widgets/footer :: footer}"></footer>
  </body>
</html>
