<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link th:href="@{/styles/reset.css}" rel="stylesheet" />
    <link th:href="@{/styles/style.css}" rel="stylesheet" />

    <title>Aquela Loja</title>
  </head>
  <body>
    <header th:replace="~{fragments/header :: header}"></header>

    <main
      class="main-content"
      th:insert="~{${contentFragment} :: content}"
    ></main>

    <!-- <footer th:replace="fragments/footer :: footer"></footer> -->

    <div th:replace="~{fragments/header :: headerScript}"></div>
  </body>
</html>
