<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Minha carteira</title>

  <link rel="stylesheet" th:href="@{/styles/reset.css}">
  <link rel="stylesheet" th:href="@{/styles/style.css}">

</head>

<body>

  <header th:replace="~{fragments/header :: header}"></header>

  <main>
    <div class="card-container">
      <div class="card-header">
        <h1>Meus cartões</h1>
        <a href="meus-cartoes/novo">Adicionar cartão</a>
      </div>

      <div class="cards-list">
        <th:block th:each="card : ${userCards}">
          <div class="user-card">
            <div class="card-brand" th:text="${card.holderName}"></div>
            <div class="card-number">**** **** **** <span th:text="${card.number}"></span></div>
            <a href="/meus-cartoes/editar" class="manage-btn">Editar</a>
          </div>

        </th:block>
      </div>
    </div>
  </main>



  <div th:replace="~{fragments/header :: headerScript}"></div>

</body>

</html>