<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>

  <body>
    <section class="user-details-edit-content" th:fragment="content">
      <h2 id="contentTitle"><span></span>Meus Dados</h2>

      <div class="editable-items">
        <div
          th:replace="~{/fragments/user_fragments/user_details_fragments/user-details-edit::content}"
        ></div>
        <div
          th:replace="~{/fragments/user_fragments/user_details_fragments/user-address-list::content}"
        ></div>
      </div>
    </section>
    
    <div th:fragment="contentScript"></div>
  </body>
</html>
