<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>

  <link th:href="@{/styles/reset.css}" rel="stylesheet" />
  <link th:href="@{/styles/style.css}" rel="stylesheet" />

  <script th:src="@{/js/components/card.js}" defer></script>
</head>

<body>
  <header th:replace="~{fragments/header :: header}"></header>

  <main class="user-details-edit-content">
    <h2 id="contentTitle"><i></i>Meus Dados</h2>

    <div class="editable-items">
      <!-- Card para edição dos detalhes pessoais -->
      <custom-card>
        <form id="userDetailsForm" th:action="@{/user/edit}" th:object="${updatedUser}" method="post">
          <h3 class="edit-details-title" id="detailsEditTitle"><i></i>Dados básicos</h3>

          <div class="details-container">
            <div class="person-name-container edit-field-container">
              <div class="input-label">
                <i id="personIcon"></i>
                <input type="text" id="nameInput" placeholder="Nome Completo" th:field="*{userName}" required />
                <label for="nameInput"></label>
              </div>
              <p id="personNameErrorMessage" class="error-message"></p>
            </div>

            <div class="person-name-container edit-field-container">
              <div class="input-label">
                <i id="phoneIcon"></i>
                <input type="text" id="phoneInput" placeholder="Telefone" th:field="*{phone}" required />
                <label for="nameInput"></label>
              </div>
              <p id="phoneErrorMessage" class="error-message"></p>
            </div>

            <div class="gender-container edit-field-container">
              <div class="input-label">
                <i id="genderIcon"></i>
                <select id="genderSelect" class="custom-select" th:field="*{gender}">
                  <option value="Male">Masculino</option>
                  <option value="Female">Feminino</option>
                  <option value="Other">Outro</option>
                </select>
              </div>
              <p id="genderErrorMessage" class="error-message"></p>
            </div>

            <div class="person-name-container edit-field-container">
              <div class="input-label">
                <i id="emailIcon"></i>
                <input type="text" id="emailInput" placeholder="Email" th:field="*{email}" required />
                <label for="nameInput"></label>
              </div>
              <p id="emailErrorMessage" class="error-message"></p>
            </div>

            <div class="person-name-container edit-field-container">
              <div class="input-label">
                <i id="documentIcon"></i>
                <input type="text" id="documentInput" class="readonly-field" placeholder="CPF" th:field="*{document}"
                  readonly />
                <label for="nameInput"></label>
              </div>
              <p id="personNameErrorMessage" class="error-message"></p>
            </div>

            <div class="person-name-container edit-field-container">
              <div class="input-label">
                <i id="birthIcon"></i>
                <input type="text" id="birthDateInput" class="readonly-field" placeholder="Data de nascimento"
                  th:field="*{birthDate}" readonly />
                <label for="nameInput"></label>
              </div>
              <p id="personNameErrorMessage" class="error-message"></p>
            </div>
          </div>

          <div class="details-action-buttons">
            <div></div>
            <button type="button" id="deleteUserAccount" class="cancel-btn">Excluir Conta</button>
            <button type="submit" id="saveUserDetails" class="confirm-button">Salvar Alterações</button>
            <div></div>
          </div>
        </form>
      </custom-card>

      <!-- Card para edição dos endereços -->
      <custom-card>
        <h3 class="edit-details-title" id="addressEdit Title"><i></i>Meus Endereços</h3>

        <div class="address-list">
          <th:block th:each="address : ${userAddress}">
            <div class="address-card" th:data-address="${address}">
              <div class="card-content">
                <h3 id="address-identification" th:text="${address.addressIdentification}"></h3>
                <p id="street" th:text="${address.street}"></p>
                <p id="number-string" th:text="${address.numberString}"></p>
                <p id="details" th:text="${address.details}"></p>
                <p id="reference" th:text="${address.reference}"></p>
              </div>
              <div class="card-actions">
                <button type="button" class="edit-address-btn">Editar</button>
              </div>
            </div>

          </th:block>

        </div>

        <button type="button" id="newAddressBtn">Cadastrar novo endereço</button>
      </custom-card>

    </div>


    <!-- Dialog para confirmar a exclusão da conta -->
    <div th:insert="~{/fragments/dialogs/delete-user-dialog::dialog}"> </div>

    <!-- Dialog para cadastro e edição de endereço -->
    <div th:insert="~{/fragments/dialogs/user-address-dialog::dialog}"> </div>


  </main>

  <!-- Script -->
  <script type="module" th:src="@{/js/page_scripts/meus-dados.js}">

  </script>
</body>

</html>