<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Minha carteira</title>

  <link rel="stylesheet" th:href="@{/styles/reset.css}">
  <link rel="stylesheet" th:href="@{/styles/style.css}">

  <script th:src="@{/js/components/card.js}" defer></script>
</head>

<body>

  <header th:replace="~{fragments/header :: header}"></header>

  <main>
    <div class="card-header">
      <h2 id="cardPageTitle"><i></i> Meus cartões</h2>
      <button type="button" id="newUserCardBtn" class="confirm-button">Adicionar cartão</button>
    </div>

    <div class="cards-grid">
      <div class="user-card" th:each="card : ${userCards}" th:attr="data-card=${card}">
        <div class="user-card-type" th:text="${card.flag}">DESCONHECIDO</div>
        <div class="user-card-number" th:text="${card.number}">**** **** **** 1234</div>
        <div class="user-card-info">
          <div class="user-card-holder" th:text="${card.holderName}">JOÃO SILVA</div>
          <div class="expiry" th:text="${card.expirationDate}">12/25</div>
        </div>
      </div>
    </div>


    <!-- Dialog para confirmar a exclusão da conta -->
    <div th:insert="~{/fragments/dialogs/edit-card-dialog::dialog}"></div>

    <!-- Dialog para cadastro de cartão de crédito -->
    <div th:insert="~{/fragments/dialogs/new-user-card-dialog::dialog}"></div>
  </main>

  <script th:src="@{/js/page_scripts/meus-cartoes.js}"></script>

</body>

</html>