<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Meus Dados</title>

  <link th:href="@{/styles/reset.css}" rel="stylesheet" />
  <link th:href="@{/styles/style.css}" rel="stylesheet" />

  <script th:src="@{/js/components/card.js}" defer></script>
</head>

<body>
  <header th:replace="~{fragments/header :: header}"></header>

  <main>
    <custom-card id="userOverviewCard">
      <div class="overview-content">

        <div class="user-info">
          <img src="/images/robo-avatar.png" alt="" id="userProfilePic" />

          <p>
            <span id="userName">Bem vindo, [[${userName}]]
            </span><br>
            <span id="userEmail">
              <i></i>
              <span>[[${userEmail}]]</span>
            </span>
          </p>

        </div>

        <a class="confirm-button" id="editProfileBtn" href="/usuario/meus-dados">
          <span></span>
          <p>Editar dados</p>
        </a>
      </div>
    </custom-card>

    <section id="widgetsSection">
      <h2><i></i>Atalhos</h2>

      <div class="page-widgets">
        <a href="/usuario/meus-dados">
          <custom-card id="userEditCard" class="widget-card">
            <div class="card-content">
              <i></i>
              <div class="widget-card-content">
                <p class="card-title">Meus Dados</p>
                <p class="card-description">
                  Atualize suas informações pessoais e<br />
                  gerencie seus endereços
                </p>
              </div>
            </div>
          </custom-card>
        </a>
        <a href="/usuario/meus-cartoes">

          <custom-card id="walletCard" class="widget-card">
            <div class="card-content">
              <i></i>
              <div class="widget-card-content">
                <p class="card-title">Carteira</p>
                <p class="card-description">Gerencie seus cartões</p>
              </div>
            </div>
          </custom-card>
        </a>

        <a href="/usuario/meus-pedidos">
          <custom-card id="ordersCard" class="widget-card">
            <div class="card-content">
              <i></i>
              <div class="widget-card-content">
                <p class="card-title">Meus Pedidos</p>
                <p class="card-description">
                  Acompanhe todos os seus pedidos
                </p>
              </div>
            </div>
          </custom-card>
        </a>


        <a href="/product/list-all">
          <custom-card id="storageCard" class="widget-card" sec:authorize="hasRole('ROLE_ADMIN')">
            <div id="storageCardContent">
              <i></i>
              <div class="widget-card-content">
                <p class="card-title">Estoque</p>
                <p class="card-description">Gerencie o estoque</p>
              </div>
            </div>
          </custom-card>
        </a>
        <a href="#">
          <custom-card id="dataCard" class="widget-card" sec:authorize="hasRole('ROLE_ADMIN')">
            <div class="resultCardContent">
              <i></i>
              <div class="widget-card-content">
                <p class="card-title">Resultados</p>
                <p class="card-description">Observe como anda suas vendas</p>
              </div>
            </div>
          </custom-card>
        </a>

      </div>
    </section>
</main>

  </div>
</body>

</html>