.header {
  background-color: var(--black);
  padding: 0px 16px;
}

.main-header {
  display: grid;
  grid-template-columns: auto 2fr 1fr;
  column-gap: 32px;
  justify-content: space-between;
}

#menuToggle {
  display: none;
}

#logo {
  height: 48px;
  align-self: center;
  margin: 12px 0px 0px 0px;
}

/* Carrinho do usuário */
#logoCart {
  display: none;
}
.normal-cart {
  width: auto;
  height: auto;
  margin: 32px 0px 0px 0px;
}


@media (max-width: 768px) {
  .main-header {
    display: block;
    height: 124px;
    padding: 0px 0px 0px 0px;
  }

  #menuToggle {
    display: block;
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin: 24px 0px 0px 0px;
    position: relative;
    right: 16px;
  }

  /* Barra de pesquisa */

  .logo-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0px 0px 0px 8px;
  }

  #logoCart {
    display: block;
  }

  .action-pages,
  .user-container {
    display: none;
  }

  /* Departamentos */
  #departamentList {
    transition: height 0.3s ease;
    overflow: hidden;
    height: 0px; /* Altura inicial */
    position: absolute;
    top: 100;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: black;
    width: 100%;
  }

  #departamentList.fullscreen {
    height: 100vh;
    overflow: auto;
  }
}
