@import url("./side-menu.css");
@import url("./departament.css");

body {
  font-family: var(--default-font);
}

.header {
  background-color: var(--black);
}

.main-header {
  display: flex;
  justify-content: space-between;
}

.logo-container {
  padding-left: 52px;
}
.logo {
  height: 48px;
  align-self: center;
  margin: 12px 0px 0px 0px;
}

.search-container {
  display: grid;
  grid-template-columns: 88% 12%;
  justify-self: center;
  align-content: center;
  background-color: var(--white);
  height: 40px;
  margin: 16px 32px 16px 32px;
  border-radius: 8px;
  width: 95%;
}

#searchBar {
  height: 100%;
  border: none;
  width: 100%;
  outline: none;
  margin: 0px 8px;
  font-family: var(--default-font);
  caret-color: var(--primary-color);
}
#seachBar::placeholder {
  color: var(--dark-gray);
  font-family: var(--default-font);
}

#searchButton {

  background: transparent;
  outline: none;
  border: none;
  width: 32px;
  cursor: pointer;
  justify-self: end;
  margin: 0px 8px;
  padding: 2px 0px 0px 0px;
}

.search-button-icon {
  color: var(--gray);
  font-size: 24px;
}

.user-container {
  display: block;
}
#menuToggle {
  display: none;
}

@media (max-width: 768px) {
  .main-header {
    display: block;
    height: 110px;
    padding: 8px 0px 0px 0px;
  }

  .logo-container {
    display: flex;
    justify-content: center;
    margin: 0px 48px 0px 0px;
  }

  .search-container {
    margin: 8px 0px 0px 0px;
  }

  .user-container {
    display: none;
  }

  #menuToggle {
    display: none;
  }
}
