.search-container {
  display: grid;
  grid-template-columns: 1fr auto;
  justify-self: center;
  align-content: center;
  background-color: var(--white);
  height: 40px;
  margin: 16px 32px 16px 32px;
  border-radius: 8px;
  width: 100%;
}

#searchBar {
  height: 100%;
  border: none;
  width: 100%;
  outline: none;
  margin: 0px 8px;
  font-family: var(--default-font);
  caret-color: var(--primary-color);
}
#seachBar::placeholder {
  color: var(--dark-gray);
  font-family: var(--default-font);
}

#searchButton {
  background: transparent;
  outline: none;
  border: none;
  width: 32px;
  cursor: pointer;
  justify-self: end;
  margin: 0px 8px;
  padding: 2px 0px 0px 0px;
}

#searchButton::before {
  content: "\e8b6";
  color: var(--gray);
  font-size: 24px;
  font-family: var(--material-icons);
}

.action-pages {
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin: 0px 16px 0px 0px;
}

@media (max-width: 768px) {
  .search-container {
    margin: 8px 0px 0px 0px;
  }
}
