#userAddressForm {
  display: grid;
  grid-template-areas:
    "cep identifier identifier "
    "street street number"
    "neighborhood city state "
    "complement complement complement "
    "reference reference reference";
  grid-gap: 10px;
  justify-content: center;
}

.cep-container {
  grid-area: cep;
}
.identifier-container {
  grid-area: identifier;
}
.address-input-container {
  grid-area: street;
}
.number-container {
  grid-area: number;
}
.complement-container {
  grid-area: complement;
}
.neighborhood-container {
  grid-area: neighborhood;
}
.city-container {
  grid-area: city;
}
.state-container {
  grid-area: state;
}
.reference-container {
  grid-area: reference;
}

#cepIcon::before {
  content: "\e55f";
}

#idIcon::before {
  content: "\e8d3";
}

#streetIcon::before {
  content: "\eb91";
}

#numberIcon::before {
  content: "\e9ef";
}

#neighborhoodIcon::before {
  content: "\e0c8";
}

#cityIcon::before {
  content: "\e7f1";
}

#stateIcon::before {
  content: "\e55f";
}

#complementIcon::before {
  content: "\ea40";
}

#referenceIcon::before {
  content: "\e55f";
}
