/* Import of page font */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons+Outlined");

/* Import of page and widget styles */

/* Pages */
@import url("./page_styles/inicio.css");
@import url("./page_styles/produtos.css");
@import url("./page_styles/carrinho.css");
@import url("./page_styles/login.css");

/* Widgets */
@import url("./fragment_styles/header_styles/header.css");
@import url("./fragment_styles/footer.css");

:root {
  --default-font: "Poppins", sans-serif;
  --secondary-font: "Inter", sans-serif;
  --material-icons: "Material Icons Outlined";
  --page-background: #fafafb;
  --white: #ffffff;
  --black: #000000;
  --primary-color: #0ee0e1;
  --primary-color-hover: #0cc7c7;
  --price-color: #e75800;
  --secondary-color: #0043b0;
  --dark-blue: #002f7a;
  --gray: #d9d9d9;
  --dark-gray: #999999;
  --confirm: #14ae5c;
  --error: #b3261e;
}

main {
  padding: 16px;
  background-color: var(--page-background);
}

a {
  text-decoration: none;
}

/* Estiliza o scroll da página */
::-webkit-scrollbar {
  width: 8px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--dark-gray);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--dark-blue);
}
